extends ./../layout/base.pug

block content
	.container
		.navbar-container
			include ../shared/navbar.pug
		.profile-container
			.card
				.card-image
					img.card-profile-image(src="./images/card-user.png")

				.card-details
					h4 Name : #{user.name}
					h4 Username : #{user.username}
					h4 Email : #{user.email}

				.card-buttons
					button.logout-button(type="submit") Logout
					button.delete-button(type="submit") Delete