extends ./../layout/base.pug

block content
	.container
		.navbar-container
			include ../shared/navbar.pug
		.profile-container
			.card
				.card-image
					img.card-profile-image(src="./images/card-user.png")

				.card-details
					.info
						h4 Name
						p #{user.name}
					.info
						h4 Username
						p #{user.username}
					.info
						h4 Email
						p #{user.email}

				form(action="/profile" method="POST").card-buttons
					button.logout-button(type="submit" formaction="profile/logout") Logout
					button.delete-button(type="submit" formaction="profile/delete") Delete