extends ./../layout/base.pug

block content
	.container
		.navbar-container
			include ../shared/navbar.pug
		.oauth-container
			.switch-tab
				a.signin#signin(href="signin") Sign In
				a.signup.activated#signup(href="signup") Sign Up
			form(action="/signup" method="POST")
				section.sso-buttons
					button.sso-button(type="Submit" value="SSO" formaction="/signup/google")
						p Sign Up With Google
						img(src="./images/google.png" alt="Google Logo")

					button.disabled.sso-button(type="Submit" value="SSO" formaction="/signup/twitter")
						p Sign Up With Twitter
						img(src="./images/twitter.png" alt="Twitter Logo")

					button.disabled.sso-button(type="Submit" value="SSO" formaction="/signup/facebook")
						p Sign Up With Facebook
						img(src="./images/facebook.png" alt="Facebook Logo")

					button.disabled.sso-button(type="Submit" value="SSO" formaction="/signup/microsoft")
						p Sign Up With Microsoft
						img(src="./images/microsoft.png" alt="Microsoft Logo")
block script
	script(src="./js/main.js" defer=true)