@import url('./modules/fonts.css');
@import url("./modules/navbar.css");
@import url("./modules/footer.css");
@import url("./modules/card.css");
@import url("./modules/tab.css");

:root {
	--default-text-color: white;
	--google-button-bg-color: linear-gradient(-45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
	--disabled-overlay-color: rgba(0,0,0,0.8);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	background-image: url("./../images/security.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color: var(--default-text-color);
	width: 100%;
	height: 100%;
}

.container {
	height: inherit;
	width: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-container {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-around;
}
.sso-buttons {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	justify-content: center;
	align-items: center;
}
.sso-button {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 1fr 30px;
	outline: none;
	padding: 10px;
	grid-gap: 5px;
	border-radius: 100px;
	border: none;
	color: inherit;
	background: var(--google-button-bg-color);
	cursor: pointer;
	box-shadow: 0 0 0px black;
	transition: backdrop-filter, box-shadow, 300ms ease-out;
	position: relative;
	font-family: "Lato", sans-serif;
}

.sso-button:hover {
	box-shadow: 0 0 10px black;
	transition: backdrop-filter, box-shadow, 300ms ease-out;
	backdrop-filter: blur(3px);
}

.sso-button img {
	width: 24px;
	height: 24px;
	margin-left: 5px;
	object-fit: cover;
}

.sso-button p {
	text-align: left;
	font-size: 18px;
	font-weight: bolder;
	font-family: "Roboto", sans-serif;
}
.activated {
	box-shadow: 0 0 10px var(--button-bg-color);
	background-color: var(--button-bg-color);
	transition: box-shadow, background-color, 200ms ease-in-out;
}
.disabled::before {
	content: '';
	width: 100%;
	height: 100%;
	background-color: var(--disabled-overlay-color);
	position: absolute;
	border-radius: 100px;
	top: 0;
	left: 0;
}