html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Koa App + OAuth 2.0
		link(rel="stylesheet" href="./css/main.css")
	body
		h1 Koa App + OAuth 2.0
