:root {
	--button-bg-color:darkblue;
}
.switch-tab {
	width: 100%;
	background-color: rgba(0,0,0,0.85);
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 15px;
	border-radius: 100px;
	padding: 2.5px 3px 3px 3px;
}
.switch-tab > a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	font-size: 24px;
	font-family: "Lato", sans-serif;
	color: whitesmoke;
	text-align: center;
	text-decoration: none;
	transition: box-shadow, background-color, 200ms ease-in-out;
}
.switch-tab > a:hover {
	box-shadow: 0 0 10px var(--button-bg-color);
	background-color: var(--button-bg-color);
	transition: box-shadow, background-color, 200ms ease-in-out;
}
.switch-tab .signin {
	border-radius: 100px 0 0 100px;
}
.switch-tab .signup {
	border-radius: 0 100px 100px 0;
}